body {
  font-family: "Open-Sans", sans-serif;
}

header {
  padding: 5px;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  left: 38vw;
  background-color: white;
}

.picker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px;
}

.color-container {
  border: none;
  flex-basis: auto;
  width: 140px;
  height: 100px;
  padding-top: 160px;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
button:hover, button:focus {
  background-color: #3e8e41;
}

button:disabled {
  background-color: #4CAF50;
  opacity: .7;
}

input {
  border-radius: 5px;
  height: 20px;
}

.palette-controls {
  text-align: center;
  padding: 5px;
}

.save-controls {
  margin: 10px;
  display: inline-block;
}

.save-btn {
  margin-bottom: 10px;
}

.btn-gen-new-palette {
  margin-bottom: 15px;
  padding: 10px;
}

hr {
  margin: 0 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display:block;
}

.saved-palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 80px;
  /*width: 950px;*/
}

.project-container {
  border: none;
  flex-basis: auto;
  width: 320px;
  height: 40px;
  margin: 10px 20px;
}

.project-container h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 0 0 5px;
}
